@use "base";
@use "attrition";

$primaryColor: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$mainWidth: 86%;

@mixin componentsColor($bg, $clr) {
  background: $bg;
  color: $clr;
}
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  background: $lightGrayishCyan;
}
.header {
  width: 100%;
  padding: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background: white;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-bottom: 1.5em;
  border-radius: 1.4em 1.4em 0 0;
}
.form {
  width: $mainWidth;
  margin-inline: auto;
  padding-top: 2.4em;

  .label {
    font-size: 1.4rem;
    color: $veryDarkCyan;
  }
  .input__control {
    position: relative;
    margin-top: 0.3em;
    margin-bottom: 2em;
    .num__input {
      @include componentsColor($veryLightGrayishCyan, $veryDarkCyan);
      width: 100%;
    }
    svg {
      position: absolute;
      left: 1.3em;
      top: 50%;
      transform: translateY(-50%);

      &:focus {
        border: 2px solid $primaryColor;
      }
    }
  }
  .num__input {
    font-family: "Space Mono", monospace;
    font-size: 2.4rem;
    direction: rtl;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 4px 0.8em;
  }
}
.tips__control {
  margin-top: 1em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;

  .tips {
    @include componentsColor($veryDarkCyan, $white);
    cursor: pointer;
    // transition: all 3s;

    // &:active {
    //   @include componentsColor($primaryColor, $veryDarkCyan);
    // }
  }
  .custom {
    @include componentsColor($veryLightGrayishCyan, $veryDarkCyan);
    width: 16.125rem;
  }
}

.calc {
  @include componentsColor($veryDarkCyan, _);
  width: $mainWidth;
  padding: 2.4em 1.4em 1.4em 1.4em;
  margin-inline: auto;
  border-radius: 1em;

  .calc__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .calc__ref {
      color: $veryLightGrayishCyan;
      font-size: 1.4rem;
      small {
        color: $grayishCyan;
      }
    }

    .calc__output {
      font-size: 3rem;
      color: $primaryColor;
    }
  }
}
.reset {
  @include componentsColor($primaryColor, $veryDarkCyan);
  font-family: "Space Mono", monospace;
  width: 100%;
  font-size: 2.4rem;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 4px 0.8em;
  margin-top: 0.5em;
}
